@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: Manrope;
  src: url(../src/fonts/Manrope-VariableFont_wght.ttf);
}
body {
  margin: 0;
  font-family: Manrope, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body-lock {
  overflow: hidden;
}
.active{
  background-color: yellow;
  border-radius: 24px;
  padding: 5px;
  color: blue;
}